commands:
  01setup_swap:
    command: "bash setup_swap.sh"
    cwd: "/tmp"
    ignoreErrors: true

files:
  "/tmp/setup_swap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -f /swapfile ]; then
        dd if=/dev/zero of=/swapfile bs=1M count=1024
        chmod 600 /swapfile
        mkswap /swapfile
        swapon /swapfile
      fi
